In this assignment, students will be using the K-nearest neighbors
algorithm to predict how many points NBA players scored in the 2013-2014
season.

A look at the data
Before we dive into the algorithm, let’s take a look at our data. Each row in
the data contains information on how a player performed in the 2013-2014
NBA season.

Download 'nba_2013.csv' file from this link:
https://www.dropbox.com/s/b3nv38jjo5dxcl6/nba_2013.csv?dl=0

In [1]:
#import needed libraries
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('nba_2013.csv')
df.head(2)

         player pos  age bref_team_id   g  ...  tov   pf  pts     season  season_end
0    Quincy Acy  SF   23          TOT  63  ...   30  122  171  2013-2014        2013
1  Steven Adams   C   20          OKC  81  ...   71  203  265  2013-2014        2013

[2 rows x 31 columns]

In [4]:
df.describe()

              age           g          gs  ...          pf          pts  season_end
count  481.000000  481.000000  481.000000  ...  481.000000   481.000000       481.0
mean    26.509356   53.253638   25.571726  ...  105.869023   516.582121      2013.0
std      4.198265   25.322711   29.658465  ...   71.213627   470.422228         0.0
min     19.000000    1.000000    0.000000  ...    0.000000     0.000000      2013.0
25%     23.000000   32.000000    0.000000  ...   44.000000   115.000000      2013.0
50%     26.000000   61.000000   10.000000  ...  104.000000   401.000000      2013.0
75%     29.000000   76.000000   54.000000  ...  158.000000   821.000000      2013.0
max     39.000000   83.000000   82.000000  ...  273.000000  2593.000000      2013.0

[8 rows x 27 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player        481 non-null    object
 1   pos           481 non-null    object
 2   age           481 non-null    int64
 3   bref_team_id  481 non-null    object
 4   g             481 non-null    int64
 5   gs            481 non-null    int64
 6   mp            481 non-null    int64
 7   fg            481 non-null    int64
 8   fga           481 non-null    int64
 9   fg.           479 non-null    float64
 10  x3p           481 non-null    int64
 11  x3pa          481 non-null    int64
 12  x3p.          414 non-null    float64
 13  x2p           481 non-null    int64
 14  x2pa          481 non-null    int64
 15  x2p.          478 non-null    float64
 16  efg.          479 non-null    float64
 17  ft            481 non-null    int64
 18  fta           481 non-null    int64
 19  ft.           461 non-null    float64
 20  orb           481 non-null    int64
 21  drb           481 non-null    int64
 22  trb           481 non-null    int64
 23  ast           481 non-null    int64
 24  stl           481 non-null    int64
 25  blk           481 non-null    int64
 26  tov           481 non-null    int64
 27  pf            481 non-null    int64
 28  pts           481 non-null    int64
 29  season        481 non-null    object
 30  season_end    481 non-null    int64
dtypes: float64(5), int64(22), object(4)
memory usage: 116.6+ KB

In [6]:
df.isna().sum()

player           0
pos              0
age              0
bref_team_id     0
g                0
gs               0
mp               0
fg               0
fga              0
fg.              2
x3p              0
x3pa             0
x3p.            67
x2p              0
x2pa             0
x2p.             3
efg.             2
ft               0
fta              0
ft.             20
orb              0
drb              0
trb              0
ast              0
stl              0
blk              0
tov              0
pf               0
pts              0
season           0
season_end       0
dtype: int64

In [7]:
df.shape

(481, 31)

In [11]:
#filling out nan values
df['x3p.']=df['x3p.'].fillna(df['x3p.'].median())
df['x2p.']=df['x2p.'].fillna(df['x2p.'].median())
df['ft.']=df['ft.'].fillna(df['ft.'].median())
df['fg.']=df['fg.'].fillna(df['fg.'].median())
df['efg.']=df['efg.'].fillna(df['efg.'].median())

In [12]:
df.isnull().sum()

player          0
pos             0
age             0
bref_team_id    0
g               0
gs              0
mp              0
fg              0
fga             0
fg.             0
x3p             0
x3pa            0
x3p.            0
x2p             0
x2pa            0
x2p.            0
efg.            0
ft              0
fta             0
ft.             0
orb             0
drb             0
trb             0
ast             0
stl             0
blk             0
tov             0
pf              0
pts             0
season          0
season_end      0
dtype: int64

In [13]:
df.columns

Index(['player', 'pos', 'age', 'bref_team_id', 'g', 'gs', 'mp', 'fg', 'fga',
       'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft',
       'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf',
       'pts', 'season', 'season_end'],
      dtype='object')

In [14]:
df.head(3)

         player pos  age bref_team_id   g  ...  tov   pf  pts     season  season_end
0    Quincy Acy  SF   23          TOT  63  ...   30  122  171  2013-2014        2013
1  Steven Adams   C   20          OKC  81  ...   71  203  265  2013-2014        2013
2   Jeff Adrien  PF   27          TOT  53  ...   39  108  362  2013-2014        2013

[3 rows x 31 columns]

In [15]:
#delete unwanted columns
df.drop(columns=['season','season_end','player','bref_team_id'],inplace=True)

In [16]:
df.shape

(481, 27)

#feature engineering

##pos

In [20]:
df['pos'].value_counts()

SG    109
SF     99
PF     96
C      90
PG     85
F       1
G       1
Name: pos, dtype: int64

In [21]:
pos1=pd.get_dummies(df['pos'],prefix='pos',drop_first=True)
pos1

     pos_F  pos_G  pos_PF  pos_PG  pos_SF  pos_SG
0        0      0       0       0       1       0
1        0      0       0       0       0       0
2        0      0       1       0       0       0
3        0      0       0       0       0       1
4        0      0       0       0       0       0
..     ...    ...     ...     ...     ...     ...
476      0      0       0       0       0       1
477      0      0       0       0       0       1
478      0      0       1       0       0       0
479      0      0       0       0       0       0
480      0      0       0       0       0       0

[481 rows x 6 columns]

In [22]:
df.drop(columns=['pos'],inplace=True)
df=pd.concat([df,pos1],axis=1)
df.head(2)

   age   g  gs    mp  fg  fga  ...  pos_F  pos_G  pos_PF  pos_PG  pos_SF  pos_SG
0   23  63   0   847  66  141  ...      0      0       0       0       1       0
1   20  81  20  1197  93  185  ...      0      0       0       0       0       0

[2 rows x 32 columns]

In [23]:
x=df.drop(columns=['pts'],axis=1)
y=df['pts']

In [24]:
#splitting data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=100)

In [25]:
#normalising data
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)

In [27]:
#knn
from sklearn.neighbors import KNeighborsRegressor
model=KNeighborsRegressor()
model.fit(x_train_scaled,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [28]:
y_pred=model.predict(scaler.transform(x_test))

In [29]:
#evaluation
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)
score

0.9445484737523808